<p id="notice"><%= notice %></p>

<h1>Opportunities</h1>

  <div class="list-group">
  <% @events.each do |event| %>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= link_to event.name, event %></h5>
        <small><%= event_date(event) %></small>
      </div>
      <p><%= event.description %></p>
    </div>
  <% end %>
  </div>

<br>

<%= link_to 'New Event', new_event_path %>
